// Buttons
button {
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
  background-color: primary-color(violet, 3);
  color: white;
  font: inherit;
  border: 0;
  border-radius: 10%;
  @include line-height(28, 18);
  padding: 14px 32px;
  transition: $ts $te;

  &:disabled,
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

